h1{
  background-color: #4286f4;
}

.background{
  background-color: yellow;
  padding: 20px;
}

.body{
  margin: auto;
  width: 80%;
  border-width:medium;
  border-style: solid;
  border-color: red;
}
