h1{
  background-color: #4286f4;
}

.background{
  background-color: rgb(252, 2, 77);
}

.body{
  margin: auto;
  width: 80%;
  border-width:medium;
  border-radius: 100px;
  border-style: solid;
  border-color: green;
}
