h1{

}

.h-button{
  background-color: white;
  /*border:10px;
  border-style: solid;
  border-color: #d800ff;*/
  color: #d800ff;
  /*padding: 5px 20px;*/
  text-align: center;
  display: inline-block;
  min-width: 120px;
}

.background{
  background-color: white;
  padding: 20px;
}

.title{
  min-width: 300px;
}

.body{
  margin: auto;
  width: 80%;
  min-width: 200px;
}

.border{
  border-width:medium;
  border-style: solid;
  border-color: #d800ff;
}

.center-text{
  text-align: center;
  color: black;
  padding: 0 10%;
}

.purple-text{
  color: #d800ff;

}

.col-2{
  display: inline-block;
  width: 30%;
  margin: 20px;
}

.show{
  display: block;
}

.hide{
  display: none;
}

.selectorsDiv{
  min-width: 85px;
}

.skillSelectors{
  width: 5vw;
  height: 5vw;
  background-color: blue;
  /*background-image: url('SkillsButton_Default.png');*/
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0px;
  border-style: none;
  border-width: 0px;
  margin-left: 0px;
  margin-right: 0px;
  min-width: 40px;
  min-height: 40px;
  background-color: white;
  color: #d800ff;
  font-size: 80%;
  display: inline-block;
}

.skillSelectorActive{

}

.skillPanels{
  border-color: #d800ff;
  border-width: medium;
  border-style: solid;
  border-radius: 10;
  width:100%;
  height: 10vw;
  min-width: 250px;
  min-height: 120px;
}

.skillHeader{
  color:#d800ff;
}

.g-button{
  opacity: 1.0;
  display: inline-block;
  width: 30%;
  height: 20%;
  min-width: 150px;
  min-height: 100px;
  max-width: 450px;
  max-width: 300px;
  margin: 2.5%;
  background-image: url("/ArtAssets/SkillsButton_Default.png");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

.g-button:hover{
  opacity: 0.25;
}

.g-button-text{
  opacity: 0.0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  vertical-align: bottom;
  font-size: 200%;
}

.g-button-text:hover{
  opacity: 4.0;
}

#slideshow-panel{
  width: 60vw;
  height: 40vw;
  min-width: 200px;
  min-height: 100px;
  max-width: 800px;
  max-height: 400px;
  background-color: blue;
  background-image: url('/ArtAssets/AntidoteSplashArt.png');
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}

.slideshow-button{
  width: 6vw;
  height:4vw;
  min-width: 60px;
  min-height: 40px;
  display: inline-block;
  text-align: center;
  margin:auto;
  background-image: url("/ArtAssets/SkillsButton_Default.png");
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
}
